<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="ttl cntr">About Nancy Eng</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-5"></div>
    <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8 col-xs-7 justice">
        <p>My family came to the United States as refugees from Cambodia in 1979, after surviving four years in labor camps. I started school at age 12, completing K‐12 education in six years, and attained my B.A. in Business Administration from Mount St. Mary’s University. After college, I worked in industries including real estate and finance, public utilities, entertainment and city government. In 2000, my family made Rosemead our home, and I married Dean. We were blessed with our son in 2002.</p>
        <p>While our son attended Garvey schools, I was active in leadership positions at the school site, district and PTA levels. I am also a strong advocate to improve the system of care for loved ones and families living with mental illnesses.</p>
        <p>Appointed to the Rosemead Planning Commission in 2009, I currently serve as Vice Chairperson and served as Chairperson twice. As a Commissioner, I support solutions that improve efficiency, good development projects that balance impacts to quality of life, and provide new housing opportunities.</p>
        <p>As a Rosemead City Council member, my goals are to engage residents to share concerns and solutions, support small businesses, and improve public safety for residents and businesses</p>
        <p class="quoter"> - Nancy Eng, Planning Commissioner/Realtor</p>
    </div>
</div>

