<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="ttl cntr">Donations</h3>
    </div>
</div>
<div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 justified">
        <p>To support my election campaign and help with campaign related expenses, you may donate online here (coming soon), or donate by check.</p>
        <p>Please make checks payable to “Nancy H Eng for Rosemead City Council 2018”, and mail to P.O. Box 115, Rosemead, CA 91770.</p>
        <p>I am grateful and humbly appreciate any contribution amount. Please note the contribution is not tax deductible, and in accordance with California Campaign Finance regulations, any amount greater than $99 must include your name, address, occupation/profession and employer name. Please print, complete and sign the attached contribution form and enclose it with your check. Thank you for your valued support and generosity.</p>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
