<div class="row indexbar">
</div>
<div class="row redrow">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 id="tagline">Vote Nancy Eng for Rosemead City Council.</h2>
    </div>
</div>
