// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700" rel="stylesheet');

body {
    font-family: 'Old Standard TT', serif;
}


.masterbar {
    background-image: url(/assets/clockshort.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.indexbar {
    background-image: url(/assets/clockshort.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.hlogo img{
    width: 100%;
    background-color: #0e1661;
    margin: 0;
    z-index: 999;
}

.hlogo {
    padding: 0px;
    margin: 0;
}

.hbar {
    background-color: #0e1661;
    height: 80px;
    margin: 0;
    padding: 0;
}

.masterbar div {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0;
    color: white;
    font-family: 'Old Standard TT', serif;
    font-size: 1.4em;
    text-align: right;
    vertical-align: middle;
}

.expo {
    display: inline;
    padding-right: 10px;
}

li {
    cursor: pointer;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    text-decoration: none;
    color: #b30000;
    cursor: pointer;
}

.links {
    padding-right: 20px;
    font-size: 1.5em;
}

i {
    padding-right: 20px;
}

i:hover {
    padding-right: 20px;
    color: #b30000;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  padding-top: 10px;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #b30000;
}

ul li ul li {
  background-color: #0e1661;
  clear: both;
  width: 100%;
  padding-right: 10px;
}

h2 {
    font-family: 'Old Standard TT', serif;
    color: white;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
}

h3 {
    font-family: 'Old Standard TT', serif;
    color: #b30000;
}

.quote {
    font-family: 'Old Standard TT', serif;
    color: #0e1661;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
}
.quoter {
    text-align: right;
    margin: auto;
    color: #b30000;
    font-size: 1.0em;
    font-style: italic;
}

.redrow {
    background-color: #b30000;
}

footer {
    font-family: 'Old Standard TT', serif;
    padding-left: 10px;
}